@model BlackWhale.Web.ViewModels.Comment.CommentIndexViewModel
<div class="container post format-standart">
    @Html.HiddenFor(c=> c.ReviewId)
    <div class="entry">

        <div class="entry-content">
            
           @Html.TextBoxFor(c=> c.Content)
        </div>

    </div>
</div>
<hr>