@model BlackWhale.Web.ViewModels.Review.ReviewCreateViewModel
@using (Html.BeginForm("Create", "Review", FormMethod.Post, new { @class = "form-horizontal" }))
{
<div class="wrapper">
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <h1>Review</h1>
                    <div class="divider">
                    </div>
                    <span class="subtitle">Create review</span>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="row irow-xs">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(r => r.Description, new { @class = "col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(r => r.Description)
                    </div>
                </div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-info"> Create </button>
    </div>
</div>
}
