@model BlackWhale.Web.ViewModels.Review.ReviewDetailsViewModel
<div class="wrapper">
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <h1>Review</h1>
                    <div class="divider">
                    </div>
                    <span class="subtitle">List of Reviews</span>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="content">
            @Html.DisplayForModel()
        </div>
    </div>
</div>
<script src="~/Content/scripts/review.module.js"></script>