@model BlackWhale.Web.ViewModels.Category.CategoryIndexViewModel
<div class="container post format-standart">
    <div class="entry">
        <div class="entry-content">
            <p>@Model.Title</p>
        </div>
    </div>
</div>
<hr>
