@model BlackWhale.Web.ViewModels.Category.CategoryIndexViewModel
<div class="container post format-standart">
    <div class="entry">
        <div class="entry-content">
            <p>@Model.Title</p>
            </div>
            <a href="/Category/Edit?id=@Model.Id" class="btn btn-info">Edit</a>

            <a href="/Category/Delete?id=@Model.Id" class="btn btn-info">Delete</a>
    </div>
</div>
<hr>
