@model BlackWhale.Web.ViewModels.Category.CategoryIndexViewModel
<div class="container post format-standart">
    <div class="entry">
        <div class="entry-content">
            <p>@Model.Title</p>
        </div>
        <a href="/Category/Edit?id=@Model.Id" class="btn btn-info">Edit Category</a>
    </div>
</div>
<hr>
