@model BlackWhale.Web.ViewModels.Exchange.ExchangeIndexViewModel
<div class="container post format-standart">
    <div class="entry">
        <div class="entry-content">
            <p>@Model.Name</p>
        </div>

        <a href="/Exchange/Edit?id=@Model.Id" class="btn btn-info">Edit</a>

        <a href="/Exchange/Delete?id=@Model.Id" class="btn btn-info">Delete</a>
    </div>
</div>
<hr>
