@model BlackWhale.Web.ViewModels.Exchange.ExchangeIndexViewModel
<div class="container post format-standart">
    <div class="entry">
        <div class="entry-content">
            <p>@Model.Name</p>
        </div>
    </div>
</div>
<hr>
