@model BlackWhale.Web.ViewModels.Review.ReviewDetailsViewModel
<div class="container post format-standart">
    <div class="entry">
        <header class="entry-header">
            <h2>
                <a href="">Rethinking Mobile Tutorials</a>
            </h2><div class="meta">
                <a href="" class="author"><i class="fa fa-user"></i>Robert Plant</a> <small><i class="fa fa-calendar"></i>12 December, 2015</small>
           
                <small><i class="fa fa-folder"></i> <a href="">Design</a>, <a href="">Music</a></small>
            </div>
        </header>
        <div class="entry-content">
            @Html.Raw(Model.Article)

            <div id="comments-container">

            </div>
        </div>
    </div>
</div>
<hr>
<script src="~/Content/scripts/comment.module.js"></script>
<script>
    $(document).ready(function () {
        commentModule.configReviewComments(@Model.Id);
    })
</script>