@{
    ViewBag.Title = "About";
}

<div class="wrapper">
    <header class="pagetitle pagetitle-sm">
        <div class="container">
            <div class="divtable irow">
                <div class="divcell">
                    <i class="fa fa-users"></i>
                    <h1>Our team</h1>
                    <div class="divider"></div>
                    <span class="subtitle">Meet our team</span>
                </div>
               
            </div>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="cards">
                <div class="row irow-xs">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="card card-image">
                                    <figure class="figure">
                                        <a href="">
                                            <img src="http://media.aisconverse.com/images/persons/person-1.jpg" alt="">
                                        </a>
                                        <div class="mask mask-inline mask-dark">
                                            <h5><a href="">Founder</a></h5>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-6 figure-info middle" style="margin-top: 35px;">
                                <h4>
                                    <a href="">
                                        Robert Hunter
                                        <small class="status">Founder</small>
                                    </a>
                                </h4><div class="heading-divider"></div><p>Duis aute irure dolor in reprehe nderit voluptate velit esse lum dolore eufugiat nulla.</p><nav class="share-links share-links-def share-links-sm"><a href="" class="fa fa-twitter"></a> <a href="" class="fa fa-facebook"></a> <a href="" class="fa fa-envelope"></a></nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="card card-image">
                                    <figure class="figure">
                                        <a href="">
                                            <img src="http://media.aisconverse.com/images/persons/person-2.jpg" alt="">
                                        </a>
                                        <div class="mask mask-inline mask-light">
                                            <h5><a href="">Developer</a></h5>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-6 figure-info middle" style="margin-top: 35px;">
                                <h4><a href="">Andrew Stone <small class="status">Developer</small></a></h4>
                                <div class="heading-divider"></div>
                                <p>Duis aute irure dolor in reprehe nderit voluptate velit esse lum dolore eufugiat nulla.</p><nav class="share-links share-links-def share-links-sm"><a href="" class="fa fa-skype"></a> <a href="" class="fa fa-youtube-play"></a> <a href="" class="fa fa-envelope"></a></nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row irow-xs text-right">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-6 figure-info middle" style="margin-top: 25px;">
                                <h4><a href="">Samanta Robertson <small class="status">Project Manager</small></a></h4>
                                <div class="heading-divider"></div>
                                <p>Duis aute irure dolor in reprehe nderit voluptate velit esse lum dolore eufugiat nulla.</p>
                                <nav class="share-links share-links-def share-links-sm">
                                    <a href="" class="fa fa-dribbble"></a>
                                    <a href="" class="fa fa-linkedin"></a>
                                    <a href="" class="fa fa-envelope"></a>
                                </nav>
                            </div>
                            <div class="col-xs-6">
                                <div class="card card-image">
                                    <figure class="figure">
                                        <a href=""><img src="http://media.aisconverse.com/images/persons/person-4.jpg" alt=""></a><div class="mask mask-inline mask-dark"><h5><a href="">Manager</a></h5></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div><div class="col-md-6">
                        <div class="row irow-xs">
                            <div class="col-xs-6 figure-info middle" style="margin-top: 25px;">
                                <h4>
                                    <a href="">
                                        Mike Brods
                                        <small class="status">Team Leader</small>
                                    </a>
                                </h4>
                                <div class="heading-divider"></div>
                                <p>Duis aute irure dolor in reprehe nderit voluptate velit esse lum dolore eufugiat nulla.</p>
                                <nav class="share-links share-links-def share-links-sm">
                                    <a href="" class="fa fa-dribbble"></a>
                                    <a href="" class="fa fa-youtube-play">
                                    </a> <a href="" class="fa fa-envelope"></a>
                                </nav>
                            </div>
                            <div class="col-xs-6">
                                <div class="card card-image">
                                    <figure class="figure">
                                        <a href="">
                                            <img src="http://media.aisconverse.com/images/persons/person-3.jpg" alt="">
                                        </a>
                                        <div class="mask mask-inline mask-light"><h5><a href="">Team Leaders</a></h5></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-nobg">
    </div>
</div>