@model BlackWhale.Web.ViewModels.Exchange.ExchangeCreateViewModel
@using (Html.BeginForm("Create", "Exchange", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="wrapper">
        <header class="pagetitle pagetitle-sm">
            <div class="container">
                <div class="divtable irow">
                    <div class="divcell">
                        <h1>Exchange</h1>
                        <div class="divider">
                        </div>
                        <span class="subtitle">Create Exchange</span>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="row irow-xs">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(e => e.Name, new { @class = "col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(e => e.Name)
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-info"> Create </button>
        </div>
    </div>
}
