 <!-- NAVBAR -->
<nav class="navbar container sf-js-enabled sf-arrows" style="touch-action: pan-y;">
    <!-- NAVBAR BRAND -->
    <a class="navbar-brand pull-left" href="">
        BlackWhale
    </a>
    <!-- NAVBAR COLLAPSE -->
    <div id="navbar" class="navbar-collapse pull-right">
        <ul class="nav navbar-nav">
            <li class="active dropdown">
                <a href="/" class="sf-with-ul">Home</a>
            </li>
            <li class="dropdown">
                <a href="/Review" class="sf-with-ul">Reviews</a>
            </li>
            <li class="dropdown">
                <a href="/Home/About" class="sf-with-ul">About</a>
            </li>
            <li class="dropdown">
                <a href="" class="sf-with-ul">Crypto 101</a>
            </li>
            <li class="dropdown">
                <a href="" class="sf-with-ul">Crypto Trading</a>
            </li>
            @if (User.Identity.IsAuthenticated == false)
            {
                <li class="dropdown">
                    <a href="/Account/Login" class="sf-with-ul">Login</a>
                </li>
                        <li class="dropdown">
                            <a href="/Account/Register" class="sf-with-ul">Register</a>
                        </li>
            }
            else
            {
                <li class="dropdown">
                    <a href="" class="sf-with-ul">@User.Identity.Name</a>
                </li>
                        <li class="dropdown">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logoutForm", @style = "position : absolute" }))
                            {
                                @Html.AntiForgeryToken()

                            }
                            <a class="sf-with-ul" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>

                        </li>
            }
        </ul>
    </div>
    <!-- /.navbar-collapse -->

</nav>
<!-- /.navbar -->
