<div id="article-template-container" style="display: none">
    <div class="entry-content" id="article-template-content">
        <div class="quote-wrap irow-xs highlight highlight-light">
            <div class="col-xs-4 col-sm-offset-1">
                <img src="http://media.aisconverse.com/images/persons/person-3.jpg" class="img-circle" alt="">
            </div>
            <div class="col-sm-6 col-xs-8 middle" style="margin-top: 26.5px;">
                <blockquote>
                    <h4>Game snake applies to the general game design original was not named snake</h4>
                </blockquote>
                <h5>
                    Sam Newton
                    <small>Creative Systems, Founder</small>
                </h5>
            </div>
        </div>
    </div>
</div>
