<div class="jumbotron" id="particles-js" >
    <h2>BE A WHALE IN THE CRYPTO OCEAN</h2>
    <div class="row">
        <div class="col-sm-8" >
            <p class="lead">Black Whale is the cryptocommunity's one-stop shop for ICO and market information. Quick to read, easy to understand, always up to date!</p>
        </div>
    </div>
</div>
<div class="content">

    <!-- CONTAINER -->
    <div class="container">
        <div class="row irow-sm text-center cards cards-inside">
            <div class="col-md-3 col-sm-6">
                <a href="" class="card card-light card-lightest card-border-solid">
                    <div class="icon icon-color icon-size-4" data-hover="rotateIn">
                        <i class="fa fa-hdd-o"></i>
                    </div>
                    <h3>Crypto 101</h3>
                    <h4><em>Our starters toolkit</em></h4>
                    <p class="cards-text-height">
                        Not sure where to start? New to
                        crypto? Look no further - Crypto 101
                        will get you going with the essentials
                        every cryptoinvestor has to cover -
                        creating a wallet, registering on
                        exchanges, depositing and
                        withdrawing funds. An absolute must
                        for beginners!
                    </p>
                    <div class="heading-divider"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="" class="card card-light card-lightest card-border-solid">
                    <div class="icon icon-color icon-size-4" data-hover="flash">
                        <i class="fa fa-comment-o"></i>
                    </div>
                    <h3>ICO Reviews</h3>
                    <h4><em>Our opinion on projects</em></h4>
                    <p class="cards-text-height">
                        Wonder where to invest your hard
                        earned money? Overwhelmed with
                        the amount of information per
                        project? Our patented one-pager
                        ICO reviews compress the most
                        essential data per project to
                        provide a quick-read overview of
                        upcoming investment
                        opportunities. Great to read on
                        your phone screen while
                        commuting to work in the morning!
                    </p>
                    <div class="heading-divider"></div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="" class="card card-light card-lightest card-border-solid">
                    <div class="icon icon-color icon-size-4" data-hover="pulse">
                        <i class="fa fa-heart-o"></i>
                    </div>
                    <h3>GitHUB Reviews</h3>
                    <h4><em>Our opinion on code</em></h4>
                    <p class="cards-text-height">
                        Marketing and hype are all great,
                        but any ICO needs to deliver and
                        programming is where it starts.
                        Our experienced developers
                        review hundreds of lines of code
                        every day to provide an informed
                        view on whether projects have
                        set up their code for success.
                    </p>
                    <div class="heading-divider"></div>
                </a>
            </div>   
            <div class="col-md-3 col-sm-6">
                <a href="" class="card card-light card-lightest card-border-solid">
                    <div class="icon icon-color icon-size-4" data-hover="pulse">
                        <i class="fa fa-heart-o"></i>
                    </div>
                    <h3>Trading Analysis</h3>
                    <h4><em>Our opinion on markets</em></h4>
                    <p class="cards-text-height">
                        What happens to altcoins once
                        the excitement of ICOs wears
                        down? We scan through markets
                        on a daily basis indicating
                        potential strong positions to buy
                        or sell taking into account
                        current market conditions,
                        volumes and project roadmaps.
                    </p>
                    <div class="heading-divider"></div>
                </a>
            </div>
        </div>

        <hr class="hr-nobg">

        <div class="iwrap iwrap-light">
            <div class="container">
                <div class="row irow-xs">
                    <div class="col-sm-3 img-wrap img-wrap-left" style="height: 381px;">
                        <i class="icon-group"></i>
                    </div>
                    <div class="col-sm-7 col-sm-offset-1 text-wrap">
                        <h3>Our Team</h3>
                        <div class="heading-divider"></div>
                        <p>
                            We are a team of crypto-investors and researchers from different walks of life united under our common belief in the impact and
                            profound change that blockchain and blockchain projects will bring about in our lives and business we do. Our background are varied
                            and cover software development, marketing and market research, finance, and management consulting. The way we have
                            assembled our team aims to cover all aspects of an ICO project to provide the most comprehensive and content-relevant reviews
                            and tips to the crypto-community.
                            We are constantly working to polish and expand our proposition to our readers so expect regular upgrades and additions!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="hr-nobg">

        <div class="iwrap iwrap-light">
            <div class="container">
                <div class="row irow-xs">
                    <div class="col-sm-7 text-wrap">
                        <h3>Our Disclaimer</h3>
                        <div class="heading-divider"></div>
                        <p>
                            Please note that we are not financial advisors. All information, reviews and opinions on this website is NOT financial advice! It is simply our
                            opinion put together for entertainment purposes. Do your own research!

                        </p>
                        <div class="row irow-xs">
                            <!-- <p style="margin-left : 4.33%;"> Contact: <a href="mailto:BlackWhale.Group@yahoo.com" />BlackWhale.Group@yahoo.com</p> -->
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1 img-wrap img-wrap-right" style="height: 381px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>