<div class="wrapper">
        <header class="pagetitle pagetitle-sm">
            <div class="container">
                <div class="divtable irow">
                    <div class="divcell">
                        <h1>Review</h1>
                        <div class="divider">
                        </div>
                        <span class="subtitle">List of Reviews</span>
                    </div>
                    <!-- @if (User.IsInRole(GlobalConstants.ROLE_ADMINISTRATOR))
                    { -->
                        <div class="divcell text-right">
                            <a href="/Review/Create" class="btn btn-primary create-review-button">Create Review</a>
                        </div>
                    <!-- } -->
                </div>
            </div>
        </header>
        <div class="content row">
            <div class="col-md-3">
                <!-- <side-bar></side-bar> -->
            </div>
            <div class="col-md-9">
                <div class="form-group">
                   <div class="row">
                       <div class="col-md-6">
                           <!-- @Html.LabelFor(r => r.Categories, new { @class = "col-sm-6" }) -->
                           <div class="col-sm-10" id="form-review-content">
                               <!-- @Html.DropDownListFor(r => r.CategoryId, @Model.Categories, new { @id = "categories-drowdown" }) -->
                           </div>
                       </div>
                      <div class="col-md-6">
                          <!-- @Html.LabelFor(r => r.Statuses, new { @class = "col-sm-6" }) -->
                          <div class="col-sm-10" id="form-review-content">
                              <!-- @Html.DropDownListFor(r => r.StatusId, @Model.Statuses, new { @id = "statuses-drowdown" }) -->
                          </div>
                      </div>
                   </div>
                </div>
                <div class="content">  
                        <div *ngFor="let review of reviews">
                            <review-thumbnail [review]="review"></review-thumbnail>
                        </div>
                     </div>
            </div>
        </div>
    </div>